<% content_for :content_for do %>
    <ol class="breadcrumb">
      <li class="active">主页</li>
    </ol>

    <p>亲爱的：<%= current_staff.name%>，欢迎登陆青岛比索海鲜仓储后台系统!</p>
    <p>当前时间：<%= Time.now.strftime("%Y-%m-%d %H:%M:%S")%>&nbsp;&nbsp;&nbsp星期<%= Time.now.wday %></p>

<% end %>
